{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-4">
            <p> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deleniti fugit tempora! Iste magnam ut praesentium dolorem nobis sed magni vitae vero. Perferendis consequatur architecto delectus at a, accusantium praesentium.
            </p>
            
            <p> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deleniti fugit tempora! Iste magnam ut praesentium dolorem nobis sed magni vitae vero. Perferendis consequatur architecto delectus at a, accusantium praesentium.
            </p>

            <p> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deleniti fugit tempora! Iste magnam ut praesentium dolorem nobis sed magni vitae vero. Perferendis consequatur architecto delectus at a, accusantium praesentium.
            </p>

            <p> 
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deleniti fugit tempora! Iste magnam ut praesentium dolorem nobis sed magni vitae vero. Perferendis consequatur architecto delectus at a, accusantium praesentium.
            </p>
        </div>
        <div class="col-8">
            <img src="assets/img/tatto.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer }}